@font-face {
	font-family: openSans;
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf,');
	src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}
html {
	font-family: openSans;
	color: #333;
}
body{
	/*background-color: #006799;*/
	background-color: #34495e;
}
h1{
	font-size: 42px;
	margin: 40px 0 0;
}
h4 {
  color: #333;
	font-size: 42px;
	margin: 0px;
  height: 70px;
}

.container {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;	
	right: 0;
}

/* Top */

.section {
	position: relative;
	width: 100%;
	float: left;
}
.animation {
	/*position: absolute;*/
	margin: 200px 0;
	/*left: calc(40% - 40px);*/
}
.content {
  width: 350px;
  font-size: 52px;
  line-height: 55px;
  height: 55px;
  color: #f8f8f8;
  margin: 0px auto 20px;
}

.content:before {
  content: '{';
  margin-left: -35px;
  line-height: 55px;
}

.content:after {
  content: '}';
  margin-left: -30px;
  line-height: 55px;
}

.content:after,
.content:before {
	float: left;
  color: #ae9700;
  font-size: 60px;
  animation: 2s linear 0s normal none infinite opacity;
  -webkit-animation: 2s ease-out 0s normal none infinite opacity;
  -moz-animation: 2s ease-out 0s normal none infinite opacity;
  -o-animation: 2s ease-out 0s normal none infinite opacity;
}

.visible {
	width: 100%;
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 55px;
}

.visible p {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
}

.visible ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: 4s linear 0s normal none infinite change;
  -webkit-animation: 4s linear 0s normal none infinite change;
  -moz-animation: 4s linear 0s normal none infinite change;
  -o-animation: 4s linear 0s normal none infinite change;
}

.visible ul li {
  line-height: 55px;
  margin: 0;
}
.start-code img{
	max-width: 100%;
}
.in {
  position: absolute;
  left: calc(100% + 5px);
  font-weight: bold;
}

.in:after {
  content: "++";
  color: #ff6600;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 8px;
}

/* Footer */

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
	width: 100%;
	height: 35%;
}

/* Bottom */

.logo-box {
	position: relative;
	width: 33.33%;
	float: left;
	text-align: center;
}

.logo-box .div{
  /*position: absolute;*/
  width: 100%;
  /*height: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
  color: #f8f8f8;
  box-sizing: border-box;
}

.link-page {
  display: block;
  text-decoration: none;
  color: #333;
  height: 100%;
  width: 100%;
}
.link-page span {
  width: 90%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}
.link-page span img{
  max-width: 100%;
  max-height: 100px;
}
.link-page span h2{
  margin: 0;
  color: #f8f8f8;
}
.link-page span p{
  margin: 5px;
  line-height: 1.2;
  font-size: 18px;
}
.android, .apple {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
}
.android:hover, .apple:hover {
  color: #ae9700;
}

/* Social Link */

.link-box {
  text-align: center;
  width: 100%;
  margin: 0;
}
.link-box span{
  font-size: 20px;
  color: #f8f8f8;
  margin: 0 7px;
}
.social-icon {
  text-decoration: none;
  color: #f8f8f8;
  margin: 0 7px;
}
.social-icon:hover {
  color: #ae9700;
}


@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: -55px;
  }
  75% {
    margin-top: -55px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: -55px;
  }
  75% {
    margin-top: -55px;
  }
  100% {
    margin-top: 0;
  }
}

/*#25B7D3*/


/* Responsive */

@media screen and (max-width: 1280px) {
  .animation {
    margin: 150px 0;
  }
  .link-page span {
    width: 98%;
  }
  .link-page span p {
    font-size: 20px;
    margin: 0;
    line-height: 1.15;
  }
  .android, .apple {
    font-size: 16px;
  }
}
@media (max-width: 992px){
  .footer {
    height: 40%;
  }
  .link-page span {
    width: 94%;
  }
  .link-page span p {
    font-size: 18px;
    margin: 0;
    line-height: 1.15;
  }
}
@media (min-width: 480px) and (max-width: 767px){
  .animation {
    margin: 40px 0 0 40px;
  }
  .link-box span {
    font-size: 18px;
    margin: 0;
  }
  .footer {
    height: 75%;
  }
  .logo-box {
    float: left;
    width: 100%;
    margin: 10px 0;
  }
  .link-page span {
    width: 90%;
  }
  .link-page span p {
    font-size: 18px;
    margin: 0;
    line-height: 1.3;
  }
}
@media (max-width: 479px){
  .animation {
    margin: 40px 0 0 40px;
  }

  .footer {
    height: 75%;
  }
  .logo-box {
    float: left;
    width: 100%;
    margin: 5px 0;
  }
  .link-page span {
    width: 100%;
  }
  .link-page span h2{
    font-size: 18px;
  }
  .link-page span img{
    max-height: 30px;
  }
}
